/* Main styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}



/* container 1 */
.c1 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* height: 95vh; */
}

/* Left side CSS */
.left-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: #ffffffef;
    height: 93vh;
    width: 45%;
    margin: auto;
}

.left-container input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding-left: 6px;
    height: 35px;
    width: 40%;
    border-color: rgb(238, 237, 237);
    border-radius: 5px;
}

.left-container img {
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding-top: 30px;
}

.left-container button {
    margin: 20px;
    height: 56px;
    width: 25%;
    border-radius: 30px;
    font-size: 16px;
    border-color: transparent;
    background-color: #5867DD;
    color: white;
}

.left-container button:hover {
    cursor: pointer;
    background-color: rgb(52, 52, 233)
}

.left-container a {
    text-decoration: none;
    color: #716ACA;
    /* margin-left: 10px; */
}

.left-container .left-links {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 10px;
}



/* Right side CSS */
#right-container {
    display: flex;
    justify-content: center;
    width: 55%;
    height: 93vh;
    background-image: url("https://vulms.vu.edu.pk/App_Themes/Default/Images/bg/bg-New.png");
    background-position: center;
    background-color: #051664;
    /* linear-gradient(#051664, #1149b1, #061e88) */
    color: white;
  }

.content h1 {
    color: white;
    margin-top: 105px;
    font-size: 50px;
}

.content p {
    color: white;
    margin-top: 40px;
    font-size: x-large;
}



/* Footnote CSS (container 2) */
.c2 {
    display: flex;
    align-items: center;
    /* height: 5vh; */
}

.footnote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7vh;
    color: #716ACA;
    background-color: rgb(255, 255, 255);
}

.footnote .r1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

.footnote .r2 {
    display: flex;
    align-items: center;
    gap: 10px;

}

.footnote .r3 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
}

.footnote .r2 a {
    text-decoration: none;
    color: #716ACA;
}

.footnote .r3 a {
    text-decoration: none;
    color: #716ACA;
}

.footnote img {
    height: 30px;
}


@media screen and (max-width:992px) {
    .left-container , #right-container{
        width: 100%;
        height: auto;
    }
    .c1{
        flex-direction: column-reverse;
    }

    .content p{
        display: none;
    }

    .footnote{
        margin-top: 60px;
        flex-direction: column;
        row-gap: 20px;
    }
}